pre {
  color: #c6c6c6;
  background-color: #303030;
}
.diff-refine-added {
  /* diff-refine-added */
  color: #eeeeee;
  background-color: #008700;
  font-weight: bold;
}
.diff-refine-removed {
  /* diff-refine-removed */
  color: #eeeeee;
  background-color: #a40000;
  font-weight: bold;
}
.magit-diff-added {
  /* magit-diff-added */
  color: #d7ff5f;
  font-weight: bold;
}
.magit-diff-context {
  /* magit-diff-context */
  color: #c6c6c6;
}
.magit-diff-file-heading {
  /* magit-diff-file-heading */
  color: #eeeeee;
  font-weight: bold;
}
.magit-diff-hunk-heading {
  /* magit-diff-hunk-heading */
  color: #8a8a8a;
  background-color: #4e4e4e;
  font-weight: bold;
}
.magit-diff-removed {
  /* magit-diff-removed */
  color: #ff4b4b;
  font-weight: bold;
}
.magit-diffstat-added {
  /* magit-diffstat-added */
  color: #5faf00;
  background-color: #d7ff5f;
  font-weight: bold;
}
.magit-diffstat-removed {
  /* magit-diffstat-removed */
  color: #a40000;
  background-color: #ff4b4b;
  font-weight: bold;
}
.magit-filename {
  /* magit-filename */
  color: #5fafd7;
}
.magit-section-highlight {
  /* magit-section-highlight */
  background-color: #4e4e4e;
}

a {
  /* border-radius: 0.1em; */
  /* margin: 0.2em; */
  color: #00f;
  /* display: inline-block; */
  /* background: white; */
  opacity: 0.8;
  /* padding: 0.2em 0.3em; */
  /* line-height: 1.2em; */
  /* color: white; */
  /* border: 0.1em solid #99f; */
  font: inherit;
  /* text-decoration: inherit; */
  text-decoration: none;
}
pre a {
    background: white;
}
a:hover {
  text-decoration: none;
}
